<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.retsat1.starlab.smssender" android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="7" />

	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:debuggable="true">
		<activity android:name=".ScheduledSmsList" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<receiver android:name=".receiver.SheduleSmsReceiver"
			android:process=":remote" />
		<provider android:name=".providers.SheduleSmsContentProvider"
			android:authorities="net.retsat1.starlab.smssender.providers.SheduleSmsContentProvider" />
		<activity android:name="ScheduleNewSms"></activity>
		<service android:name=".service.SendingService"></service>


	</application>
	<uses-permission android:name="android.permission.SEND_SMS" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />

</manifest>